.App {
  text-align: center;
}

.App-logo {
  height: 160px;
  margin-bottom: -50px;
  margin-top: -40px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  margin: 50px;
}